{% load static %}

{% for i in article %}
    <div class="item">
        <img src="{{ i.image.url }}" alt="{{ i.Title }}">
        <div class="item-content">
            <div class="main-content">
                <div class="meta-category">
                    <span>{{ i.category.all.first.name }}</span>
                </div>
                    <a href="{{ i.get_absolute_url }}"><h4>{{ i.title }}</h4></a>
                <ul class="post-info">
                    <li><a href="#">{{ i.writer.username }}</a></li>
                    <li><a href="#">{{ i.pub_date }}</a></li>
                    <li><a href="#">12 Comments</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endfor %}