<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post">{% csrf_token %}
    <p>Are you sure you want to delete "{{ object }}"?</p>
    {{ form }}
    <input type="submit" value="Confirm" style="background-color: red; color: white; border-radius: 5px">
    <a href="{% url 'blog_app:message_list' %}" style="text-decoration: none; border: 1px black solid; background-color: blue; color: white; border-radius: 5px">Cancel</a>
</form>
</body>
</html>