{% extends 'base.html' %}
{% load static %}
<!-- Page Content -->
<!-- Banner Starts Here -->

{% block title %}
    {{ articles.title }}
{% endblock %}
{% block content %}
    <div class="heading-page header-text">
        <section class="page-heading">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-content">
                            <h4>Post Details</h4>
                            <h2>{{ articles.title }}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- Banner Ends Here -->


    <section class="blog-posts grid-system">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="all-blog-posts">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="blog-post">
                                    <div class="blog-thumb">
                                        <img src="{{ articles.image.url }}" alt="faild">
                                    </div>
                                    <div class="down-content">
                                        <span>{{ articles.category.first }}</span>
                                        <a href="post-details.html"><h4>{{ articles.title }}</h4></a>
                                        <ul class="post-info">
                                            <li><a href="#">{{ articles.writer }}</a></li>
                                            <li><a href="#">{{ articles.pub_date }}</a></li>
                                            <li><a href="#">10 Comments</a></li>
                                        </ul>
                                        <p>
                                            {{ articles.content }}
                                        </p>
                                        <div class="post-options">
                                            <div class="row">
                                                <div class="col-6">
                                                    <ul class="post-tags">
                                                        <li><i class="fa fa-tags"></i></li>
                                                        <li><a href="#">{{ articles.category.first }}</a>,</li>
                                                    </ul>
                                                </div>
                                                <div class="col-6">
                                                    <ul class="post-share">
                                                        <li><i class="fa fa-share-alt"></i></li>
                                                        <li><a href="#">Facebook</a>,</li>
                                                        <li><a href="#"> Twitter</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="sidebar-item comments">
                                    <div class="sidebar-heading">
                                        <h2>
                                            {{ articles.comments.count }} comment
                                        </h2>
                                    </div>
                                    <div class="content">
                                        <ul>
                                            {% for item in articles.comments.all %}
                                                {% if item.parent == None %}
                                                    <li>
                                                        <div class="author-thumb">
                                                            {% if item.user.profile.image %}
                                                                <img src="{{ item.user.profile.image.url }}"
                                                                     alt="">
                                                            {% else %}
                                                                <img src="{% static 'account_app/images/png-transparent-default-profile-united-states-computer-icons-desktop-free-high-quality-person-icon-miscellaneous-silhouette-symbol-thumbnail.png' %}"
                                                                     alt="">
                                                            {% endif %}
                                                        </div>
                                                        <div class="right-content">
                                                            <h4>{{ item.user }}<span>{{ item.pub_date }}</span></h4>
                                                            <p>{{ item.content }}</p>
                                                        </div>
                                                    </li>
                                                    <button type="submit" onclick="comment_id({{ item.id }})"
                                                            id="submit"
                                                            style="background-color: yellow; border-radius: 50px">reply
                                                    </button>
                                                    {% for reply in item.reply.all %}
                                                        <li class="replied">
                                                            <div class="author-thumb">
                                                                {% if reply.user.profile.image %}
                                                                    <img src="{{ reply.user.profile.image.url }}"
                                                                         alt="">
                                                                {% else %}
                                                                    <img src="{% static 'account_app/images/png-transparent-default-profile-united-states-computer-icons-desktop-free-high-quality-person-icon-miscellaneous-silhouette-symbol-thumbnail.png' %}"
                                                                         alt="">
                                                                {% endif %}
                                                            </div>
                                                            <div class="right-content">
                                                                <h4>{{ reply.user }}<span>{{ reply.pub_date }}</span>
                                                                </h4>
                                                                <p>{{ reply.content }}</p>
                                                            </div>
                                                        </li>
                                                    {% endfor %}
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12" id="content">
                                <div class="sidebar-item submit-comment">
                                    <div class="sidebar-heading">
                                        <h2>Your comment</h2>
                                    </div>
                                    <div class="content" id="contentt">
                                        {% if request.user.is_authenticated %}
                                            <form id="comment" action="#" method="post">
                                                {% csrf_token %}
                                                <div class="row">
                                                    <div class="col-md-12 col-sm-12">
                                                        <fieldset>
                                                            <input name="patent_id" type="number" id="reply"
                                                                   placeholder="user id" hidden="hidden" value="">
                                                        </fieldset>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <fieldset>
                                                        <textarea name="content" rows="6" id="message"
                                                                  placeholder="Type your comment"
                                                                  required=""></textarea>
                                                        </fieldset>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <fieldset>
                                                            <button type="submit" id="form-submit" class="main-button">
                                                                Submit
                                                            </button>
                                                        </fieldset>
                                                    </div>
                                                </div>
                                            </form>
                                            {% else %}
                                            <a href="{% url 'account_app:login' %}"style="text-decoration: none; color: red; width: 30px;">You should login to send comment</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="sidebar">
                        <div class="row">
                            {% include 'sidebar.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        function comment_id(id) {
            document.getElementById('reply').value = id;
            window.location.href = '#content'
        }
    </script>
{% endblock %}